In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import tensorflow as tf
from datetime import datetime
import math
from collections import defaultdict

In [23]:
game_data = pd.read_csv("../../NFLData/all_games.csv")

In [31]:
tracking_w1_data_original = pd.read_csv('../../NFLData/week1.csv')
tracking_w2_data_original = pd.read_csv('../../NFLData/week2.csv')
tracking_w3_data_original = pd.read_csv('../../NFLData/week3.csv')
tracking_w4_data_original = pd.read_csv('../../NFLData/week4.csv')
tracking_w5_data_original = pd.read_csv('../../NFLData/week5.csv')
tracking_w6_data_original = pd.read_csv('../../NFLData/week6.csv')
tracking_w7_data_original = pd.read_csv('../../NFLData/week7.csv')
tracking_w8_data_original = pd.read_csv('../../NFLData/week8.csv')
tracking_data = pd.concat([tracking_w1_data_original,tracking_w2_data_original,tracking_w3_data_original,tracking_w4_data_original,tracking_w5_data_original,tracking_w6_data_original,tracking_w7_data_original,tracking_w8_data_original])

In [32]:
tracking_w1_data_2018 = pd.read_csv('../../NFLData/2018week1.csv')
tracking_w2_data_2018 = pd.read_csv('../../NFLData/2018week2.csv')
tracking_w3_data_2018 = pd.read_csv('../../NFLData/2018week3.csv')
tracking_w4_data_2018 = pd.read_csv('../../NFLData/2018week4.csv')
tracking_w5_data_2018 = pd.read_csv('../../NFLData/2018week5.csv')
tracking_w6_data_2018 = pd.read_csv('../../NFLData/2018week6.csv')
tracking_w7_data_2018 = pd.read_csv('../../NFLData/2018week7.csv')
tracking_w8_data_2018 = pd.read_csv('../../NFLData/2018week8.csv')
tracking_w9_data_2018 = pd.read_csv('../../NFLData/2018week9.csv')
tracking_w10_data_2018 = pd.read_csv('../../NFLData/2018week10.csv')
tracking_w11_data_2018 = pd.read_csv('../../NFLData/2018week11.csv')
tracking_w12_data_2018 = pd.read_csv('../../NFLData/2018week12.csv')
tracking_w13_data_2018 = pd.read_csv('../../NFLData/2018week13.csv')
tracking_w14_data_2018 = pd.read_csv('../../NFLData/2018week14.csv')
tracking_w15_data_2018 = pd.read_csv('../../NFLData/2018week15.csv')
tracking_w16_data_2018 = pd.read_csv('../../NFLData/2018week16.csv')
tracking_w17_data_2018 = pd.read_csv('../../NFLData/2018week17.csv')
tracking_2018_data = pd.concat([tracking_w1_data_2018,tracking_w2_data_2018,tracking_w3_data_2018,tracking_w4_data_2018,
                           tracking_w5_data_2018,tracking_w6_data_2018,tracking_w7_data_2018,tracking_w8_data_2018,
                           tracking_w9_data_2018,tracking_w10_data_2018,tracking_w11_data_2018,tracking_w12_data_2018,
                           tracking_w13_data_2018,tracking_w14_data_2018,tracking_w15_data_2018,tracking_w16_data_2018,
                           tracking_w17_data_2018])

In [33]:
tracking_2018_data = tracking_2018_data[["gameId","playId","nflId","frameId","time","jerseyNumber","team","playDirection","x","y","s","a"
                                         ,"dis","o","dir","event"]]

tracking_data = pd.concat([tracking_data,tracking_2018_data])

In [34]:
teams = game_data[["gameId","homeTeamAbbr","visitorTeamAbbr"]]
display(teams)

         gameId homeTeamAbbr visitorTeamAbbr
0    2021090900           TB             DAL
1    2021091200          ATL             PHI
2    2021091201          BUF             PIT
3    2021091202          CAR             NYJ
4    2021091203          CIN             MIN
..          ...          ...             ...
370  2018123013          DEN             LAC
371  2018123015          SEA             ARI
372  2018123014           LA              SF
373  2018122200          TEN             WAS
374  2018122201          LAC             BAL

[375 rows x 3 columns]

In [35]:
print(tracking_data.shape[0])

26623566

In [36]:
tracking_data= tracking_data.dropna()

In [37]:
print(tracking_data.shape[0])

25014220

In [38]:
tracking_data = tracking_data.merge(game_data,on="gameId",how="left")
display(tracking_data)

,gameId,playId,nflId,frameId,time,jerseyNumber,team,playDirection,x,y,...,a,dis,o,dir,event,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr
0,2021090900,97,25511.0,1,2021-09-10T00:26:31.100,12.0,TB,right,37.77,24.22,...,0.30,0.03,165.16,84.99,None,1,09/09/2021,20:20:00,TB,DAL
1,2021090900,97,25511.0,2,2021-09-10T00:26:31.200,12.0,TB,right,37.78,24.22,...,0.11,0.02,164.33,92.87,None,1,09/09/2021,20:20:00,TB,DAL
2,2021090900,97,25511.0,3,2021-09-10T00:26:31.300,12.0,TB,right,37.78,24.24,...,0.10,0.01,160.24,68.55,None,1,09/09/2021,20:20:00,TB,DAL
3,2021090900,97,25511.0,4,2021-09-10T00:26:31.400,12.0,TB,right,37.73,24.25,...,0.24,0.06,152.13,296.85,None,1,09/09/2021,20:20:00,TB,DAL
4,2021090900,97,25511.0,5,2021-09-10T00:26:31.500,12.0,TB,right,37.69,24.26,...,0.18,0.04,148.33,287.55,None,1,09/09/2021,20:20:00,TB,DAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25014215,2018123011,4261,2558060.0,102,2018-12-31T04:23:24.200Z,29.0,away,left,72.95,23.20,...,0.60,0.40,110.13,105.63,None,17,12/30/2018,20:20:00,TEN,IND
25014216,2018123011,4261,2558942.0,102,2018-12-31T04:23:24.200Z,86.0,home,left,95.77,11.20,...,1.75,0.73,103.97,118.54,None,17,12/30/2018,20:20:00,TEN,IND
25014217,2018123011,4261,2558976.0,102,2018-12-31T04:23:24.200Z,23.0,away,left,101.94,14.60,...,2.24,0.57,139.23,119.97,None,17,12/30/2018,20:20:00,TEN,IND
25014218,2018123011,4261,2560789.0,102,2018-12-31T04:23:24.200Z,53.0,away,left,102.68,0.94,...,1.67,0.24,164.79,152.29,None,17,12/30/2018,20:20:00,TEN,IND
25014219,2018123011,4261,2561521.0,102,2018-12-31T04:23:24.200Z,17.0,home,left,105.82,0.71,...,3.53,0.25,284.72,93.44,None,17,12/30/2018,20:20:00,TEN,IND

In [39]:
tracking_copy = tracking_data.copy()
#tracking_copy = tracking_copy.merge(player_positions,how="inner",on="nflId")
categorical_data = ["playDirection","event"]
category_codes = {}

for i in tracking_data:
    if i in categorical_data:
        specific_codes = {}
        tracking_data[i] = tracking_data[i].astype("category")
        tracking_data[i] = tracking_data[i].cat.codes
        coded = tracking_data[i].unique()#
        count = 0
        for j in tracking_copy[i].unique():
           specific_codes[j] = coded[count]
           count += 1
        category_codes[i] = specific_codes
for i in category_codes:
  print("{} -".format(i))
  for j in category_codes[i]:
    print("{}: {}".format(j, category_codes[i][j]))

playDirection -
right: 1
left: 0
event -
None: 0
ball_snap: 4
autoevent_passforward: 2
pass_forward: 21
autoevent_ballsnap: 1
line_set: 17
play_action: 31
pass_arrived: 20
autoevent_passinterrupted: 3
fumble: 10
fumble_offense_recovered: 12
qb_sack: 33
run: 36
man_in_motion: 18
pass_outcome_caught: 23
pass_outcome_incomplete: 24
pass_tipped: 28
qb_strip_sack: 35
shift: 39
first_contact: 9
huddle_break_offense: 14
lateral: 16
handoff: 13
penalty_flag: 30
tackle: 41
dropped_pass: 5
out_of_bounds: 19
pass_outcome_interception: 25
pass_shovel: 27
touchdown: 44
fumble_defense_recovered: 11
pass_outcome_touchdown: 26
touchback: 43
penalty_accepted: 29
qb_spike: 34
field_goal_blocked: 6
punt_fake: 32
snap_direct: 40
run_pass_option: 37
pass_lateral: 22
field_goal_fake: 7
huddle_start_offense: 15
timeout_home: 42
safety: 38
field_goal_play: 8

In [40]:
event_dict = category_codes['event']
terminal_events = ['qb_sack','pass_outcome_incomplete','qb_strip_sack','pass_outcome_caught','pass_tipped','fumble','fumble_offense_recovered','lateral','run']

In [41]:
def generate_sequences(df):
    sequence_dict_dense = defaultdict(dict)
    current_seq_dense = []
    gameID = -1
    playID = -1
    nflID = -1
    team = -1
    collect = False
    terminal = False
    for row in df.itertuples():
        if not(collect):
            collect = (row.event == 4)
        if not(terminal):
            terminal= (row.event in terminal_events)    # Play terminal or changes from coached D to responsive D
        if (gameID == -1 or playID == -1 or nflID == -1) or (gameID != row.gameId or playID != row.playId or nflID != row.nflId):
            #print(current_seq_dense)
            if len(current_seq_dense) > 10:
                sequence_dict_dense[(gameID,playID,team)][nflID] = current_seq_dense
                current_seq_dense = []
                
            terminal = (row.event in terminal_events)
            collect = (row.event == 4)
            gameID = row.gameId
            playID = row.playId
            nflID = row.nflId
            if row.team == "home":
                team = row.homeTeamAbbr
            else:
                team = row.visitorTeamAbbr
            if collect and len(current_seq_dense) < 90 and not(terminal):
                current_seq_dense.append([row.x,row.y]) 

        elif gameID == row.gameId and playID == row.playId and nflID == row.nflId and collect and not(terminal):
            current_seq_dense.append([row.x,row.y]) 
    return sequence_dict_dense

In [42]:
trajectory_dict = generate_sequences(tracking_data)

In [43]:
print(f"Sequences Generated for {len(trajectory_dict)} unique plays")

Sequences Generated for 30665 unique plays

In [44]:
trajectory_dict_keys = list(trajectory_dict.keys())
print(trajectory_dict_keys[:5])

[(2021090900, 97, 'DAL'), (2021090900, 137, 'DAL'), (2021090900, 187, 'DAL'), (2021090900, 282, 'DAL'), (2021090900, 349, 'DAL')]

In [48]:
last_five = list(trajectory_dict.items())[-5:]

# Print the last 5 key-value pairs
for key, value in last_five:
    print(key, value)

(2018123011, 3947, 'IND') {2558851.0: [[92.18, 29.19], [93.51, 19.75], [104.58, 23.4], [105.02, 25.87], [86.21, 18.12], [96.59, 39.99], [100.66, 33.68], [101.7, 36.15], [95.7, 12.34], [84.34, 33.33], [93.38, 24.82]]}
(2018123011, 4044, 'TEN') {2553896.0: [[100.43, 17.18], [93.92, 31.86], [94.74, 20.07], [101.64, 15.52], [101.01, 19.82], [106.65, 26.31], [105.55, 25.06], [101.13, 25.66], [94.48, 40.9], [103.83, 31.11], [102.95, 34.27]]}
(2018123011, 4089, 'IND') {2543811.0: [[103.78, 36.61], [102.47, 15.58], [95.82, 13.9], [84.47, 27.53], [100.69, 34.36], [101.01, 27.33], [88.89, 34.21], [106.47, 29.48], [105.77, 31.63], [93.21, 38.21], [89.26, 42.36]]}
(2018123011, 4219, 'TEN') {2495469.0: [[103.62, 35.17], [102.3, 17.94], [102.33, 38.7], [103.06, 15.89], [91.38, 12.32], [82.5, 21.92], [91.79, 16.94], [91.33, 23.13], [69.37, 35.88], [91.53, 29.54], [91.18, 32.01]]}
(2018123011, 4261, 'IND') {238227.0: [[80.89, 35.61], [78.32, 43.19], [87.95, 23.74], [87.11, 19.24], [78.21, 15.49], [69.33, 20.33], [88.32, 35.19], [80.83, 24.88], [80.89, 28.63], [87.23, 38.47], [64.92, 18.22]], 2560789.0: [[87.37, 23.37], [87.24, 26.18], [73.19, 17.18], [72.8, 38.71], [83.61, 32.75], [84.39, 34.66], [74.73, 11.51], [62.57, 32.96], [83.5, 17.56], [76.94, 34.28], [76.26, 27.09]]}

In [48]:
index = int(input("Enter an integer to select a play from the available dictionary: "))
play_key = trajectory_dict_keys[index]

print(play_key,end="\n\n")

play = trajectory_dict[play_key]
play_seq_list = list(play.values())
figure = plt.figure(figsize=(20,10))

for seq in play_seq_list:
    x = [x[0] for x in seq]
    y = [x[1] for x in seq]


    plt.scatter(x[0],y[0],color="r")
    plt.plot(x,y,color = "r")

plt.ylim([-53.3, 53.3])
plt.xlim([-120, 120])
plt.xlabel('x')
plt.ylabel('y')
plt.legend()
plt.show()

ValueError: invalid literal for int() with base 10: ''

In [45]:
trajectory_dict_keys_df = pd.DataFrame(trajectory_dict_keys,columns=['gameId','playId','team'])
print(trajectory_dict_keys_df.head(5))
print(trajectory_dict_keys_df.shape[0])

       gameId  playId team
0  2021090900      97  DAL
1  2021090900     137  DAL
2  2021090900     187  DAL
3  2021090900     282  DAL
4  2021090900     349  DAL
30665

In [46]:
trajectory_dict_keys_df.to_csv('trajectory_dict_keys.csv', index=False)

In [47]:
import json

trajectory_dict_upload = {str(key): value for key, value in trajectory_dict.items()}

with open('all_trajectory_dict.json', 'w') as f:
    json.dump(trajectory_dict_upload, f)